/*Записываем шрифты в переменные*/

$font-Cas: 'Cascadia Code';
$font-Cas-b: 'Cascadia Code Bold';
$font-CasPL: 'Cascadia Code PL Regular';
$font-Gil: 'Gilroy';
$font-Inter-r: 'Inter Regular';
$font-Roboto-r: 'Roboto Mono Regular';
$font-Roboto-b: 'Roboto Mono Bold';

/*Записываем цвета в переменные*/

$fone: #ffffff;
$fone2: #eeeeee;
$button-blue: #292d8e;
$button-blue-s: #393dbe;
$button-gray: #f5f5f5;
$button-gray-d: #cfcfcf;
$button-gray-dark: rgb(104, 104, 104);
$button-orange: orange;
$button-orange-light: rgb(255, 194, 81);
$button-yellow: #ffe142;
$button-yellow-dark: #d6bc38;
$text-gray: gray;
$text-gray-dark: #404040;
$text-white: white;
$text-black: black;
$text-footer: #ececec;
$text-blue: #292d8e;

// Под мобилы

$mobile: 1270px;